* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  background-color: #4e4e4e;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .links-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 7vh;
    z-index: 1;
    background-color: #4e4e4e;
    width: 35%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .links-list li {
    opacity: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .links-list li a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: center;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
  }
}

.links-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.rotate .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.rotate .line2 {
  opacity: 0;
}

.rotate .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.disabled {
  cursor: not-allowed;
}

.section1 {
  background-image: url(images/background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.container {
  width: 85%;
  margin: auto;
}

.overlay {
  position: relative;
  left: -10px;
  width: 105%;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.479);
}

.p1 {
  font-weight: 700;
  font-size: 36px;
  color: white;
  margin: 15px 10px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.p2 {
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin: 30px 10px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.button1 {
  border: 3px solid #ffffff;
  width: 100px;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin: 15px 10px;
  border-radius: 90px;
}

.button1 a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.section2 {
  display: flex;
  flex-flow: column wrap;
  background-color: #f1f1f1;
}

.header1 {
  color: black;
  font-weight: 700;
  font-size: 36px;
  width: 85%;
  padding-top: 10px;
  margin-bottom: 40px;
}

.employer {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.emp-img1 {
  width: 45vmax;
  height: 45vmax;
  border-radius: 50%;
  background-image: url(images/employer1.jpg);
  background-size: cover;
  background-position: center;
  display: block;
  margin: auto;
}

.emp-img2 {
  width: 45vmax;
  height: 45vmax;
  border-radius: 50%;
  background-image: url(images/employer2.jpg);
  background-size: cover;
  background-position: center;
  display: block;
  margin: auto;
}

.header2 {
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.emp-des {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section3 {
  background-color: #405d78;
}

.header3 {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  padding-top: 10px;
  margin-bottom: 40px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.child {
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  width: 240px;
  height: 240px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.dot {
  background-color: #e07a64;
  width: 2vmax;
  height: 2vmax;
  border-radius: 50%;
  position: absolute;
  left: calc(0px - 1vmax);
  top: calc(0px - 1vmax);
}

.foot {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  height: 11vh;
  background-color: #4e4e4e;
}

.footer-txt {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.foot-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 40px;
  margin-right: 20px;
  color: #ffffff;
}

.foot-ic {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .links-list {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .burger {
    display: none;
  }

  .links-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .links-list li a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: center;
  }

  .section2 {
    display: flex;
    flex-flow: row wrap;
    background-color: #f1f1f1;
  }

  .employers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .employer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .employer:nth-of-type(odd) {
    flex-direction: row;
  }

  .employer:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .emp-img1 {
    width: 37vmax;
    height: 37vmax;
    margin: 10px 10px;
  }

  .emp-img2 {
    width: 37vmax;
    height: 37vmax;
    margin: 10px 10px;
  }

  .emp-des {
    font-weight: 400;
    font-size: 18px;
    width: 50%;
  }

  .parent {
    width: 95%;
    flex-direction: row;
  }

  .child {
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 1024px) {
  .links-list {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .burger {
    display: none;
  }

  .links-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .links-list li a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: center;
  }

  .button1 {
    transition: 1s;
  }

  .button1 a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
  }

  .button1:hover {
    background-color: white;
  }

  .button1 a:hover {
    color: black;
  }

  .section2 {
    display: flex;
    flex-flow: row wrap;
    background-color: #f1f1f1;
  }

  .employers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .employer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .employer:nth-of-type(odd) {
    flex-direction: row;
  }

  .employer:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .emp-img1 {
    width: 20vmax;
    height: 20vmax;
    margin: 10px 10px;
  }

  .emp-img2 {
    width: 20vmax;
    height: 20vmax;
    margin: 10px 10px;
  }

  .emp-des {
    font-weight: 400;
    font-size: 18px;
    width: 65%;
  }

  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: auto;
    padding-bottom: 50px;
    width: 95%;
  }

  .child {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    width: 240px;
    height: 240px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: 0.5s;
  }

  .child:hover {
    transform: scale(1.05);
  }
}

@media screen and (min-width: 1440px) {
  .child {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: 0.5s;
  }
}
