html {
  scroll-behavior: smooth;
}

.container {
  width: auto;
  margin: auto;
}

@media screen and (min-width: 441px) {
  .container {
    width: 940px;
    margin: auto;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 10px 30px;
  background-color: #4e4e4e;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.links-list {
  display: none;
}

@media screen and (min-width: 441px) {
  .links-list {
    display: flex;
  }
}

#bars {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

@media screen and (min-width: 441px) {
  #bars {
    display: none;
  }
}

.links-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.links-list li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-align: center;
}

.disabled {
  cursor: not-allowed;
}

.section_pad {
  padding: 20px 30px;
}

.section1 {
  background-image: url("https://images.unsplash.com/photo-1502224562085-639556652f33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.block1 {
  display: flex;
  flex-flow: column wrap;
  width: 420px;
  /* background-color: rgba(255, 255, 255, 0.1); */
}

@media screen and (min-width: 441px) {
  .block1 {
    display: flex;
    flex-flow: column wrap;
    width: 85%;
    /* height: auto; */
    /* background-color: rgba(255, 255, 255, 0.1); */
  }
}

.p1 {
  font-weight: 700;
  font-size: 36px;
  color: white;
  margin: 15px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.p2 {
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin: 15px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.button1 {
  border: 3px solid #ffffff;
  width: 80px;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin: 15px 0;
}

.button1 a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

@media screen and (min-width: 441px) {
  .button1 {
    border: 3px solid #ffffff;
    width: 80px;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin: 15px 0;
    transition: 1s;
  }
}

@media screen and (min-width: 441px) {
  .button1:hover {
    color: black;
    background-color: white;
  }
}

@media screen and (min-width: 441px) {
  .button1 a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
  }
}

@media screen and (min-width: 441px) {
  .button1:hover a {
    color: black;
  }
}

.section2 {
  display: flex;
  flex-flow: column wrap;
  background-color: #f1f1f1;
}

@media screen and (min-width: 441px) {
  .section2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
  }
}

.header1 {
  color: black;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  width: 100vw;
  margin: 30px 0;
}

.employers {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
}

@media screen and (min-width: 441px) {
  .employers {
    display: flex;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 441px) {
  .emp:nth-of-type(odd) {
    flex-direction: row;
  }
}

@media screen and (min-width: 441px) {
  .emp:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.emp {
  display: flex;
  flex-flow: column wrap;
}

@media screen and (min-width: 441px) {
  .emp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.emp-img1 {
  width: 45vmax;
  height: 45vmax;
  border-radius: 50%;
  background-image: url("https://i.postimg.cc/XJGCnJcx/photo-1560250097-0b93528c311a.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: 50px;
}

@media screen and (min-width: 441px) {
  .emp-img1 {
    width: 20vmax;
    height: 20vmax;
    border-radius: 50%;
    background-image: url("https://i.postimg.cc/XJGCnJcx/photo-1560250097-0b93528c311a.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.emp-img2 {
  width: 45vmax;
  height: 45vmax;
  border-radius: 50%;
  background-image: url("https://i.postimg.cc/W4fZRrrh/photo-1543132220-3ec99c6094dc.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: 50px;
}

@media screen and (min-width: 441px) {
  .emp-img2 {
    width: 20vmax;
    height: 20vmax;
    border-radius: 50%;
    background-image: url("https://i.postimg.cc/W4fZRrrh/photo-1543132220-3ec99c6094dc.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.emp-des {
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
}

@media screen and (min-width: 441px) {
  .emp-des {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 60%;
    height: 220px;
  }
}

.header2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.section3 {
  background-color: #405d78;
}

.header3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 70px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 441px) {
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.child {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 320px;
  height: 320px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}

@media screen and (min-width: 441px) {
  .child {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: 0.5s;
  }
}

@media screen and (min-width: 441px) {
  .child:hover {
    transform: scale(1.05);
  }
}

.new-txt {
  font-weight: 400;
  font-size: 18px;
  display: flex;
}

.dot {
  background-color: #e07a64;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  right: 160px;
  bottom: 140px;
}

@media screen and (min-width: 441px) {
  .dot {
    background-color: #e07a64;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    right: 100px;
    bottom: 80px;
  }
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  padding: 10px 30px;
  background-color: #4e4e4e;
}

.footer-txt {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.foot-icons {
  list-style: none;
  display: flex;
  font-size: 40px;
  margin-right: 20px;
  color: #ffffff;
}

@media screen and (min-width: 441px) {
  .foot-icons {
    list-style: none;
    display: flex;
    font-size: 40px;
    margin-right: 70px;
    color: #ffffff;
  }
}

.foot-ic {
  margin: 5px;
}
